@charset "utf-8";

@font-face {
	font-family: cool_font;
	src: url('../fonts/pastel crayon.ttf');
}

#wrapper {
	margin-left: 150px;
	}

#menu{
	margin-top: 75px;
	margin-bottom: 5px;
	margin-left: 25px;
	width: 300px;
	}

#menu a {
	color:#FF3399;
	font-weight:bold;
	cursor:pointer;
	display:block;
	float:left;
	}
	
.noMenuPusherDiv{
	margin-top:175px;
}
/* ################### create notitie form en div ############################# */

#createopdracht{
	position: absolute;
    top: 60px;
    left: 35%;
	width:240px;
	height: 220px;
	z-index: 20;
	padding:30px;
    margin-left: auto;
	margin-right: auto;
	background: url(../img/login_bg.jpg);
	}

#createnopdracht input[type=text]{
		display: block;
	}

#createopdracht select{
		display: block;
	}

label  {
	font-family: cool_font;
	color: green;
	font-size: 12px;
}
	
#uploadbox{
	border-radius: 5px;
    border: 2px dashed #ccc;
    background-color: #eee;
    width: 250px;
	height: 100px;
    padding: 50px 0;
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 50px auto;
	}
	
#uploadbox:hover
{
    border-color: #aaa;
    background-color: #ddd;
}
/* ######################################################## */
#loginpopoutbtn{
	position: absolute;
	left: 80%;
	float:left;
	color:#FF3399;
	font-weight:bold;
	cursor:pointer;
	top: 22%;
	display:block;
	margin-bottom: 5px;
	text-decoration: none;
	background-color:white;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	text-align: center;
	}
	
#logoutbtn{
	position: absolute;
	left: 80%;
	float:left;
	color:#FF3399;
	font-weight:bold;
	cursor:pointer;
	display:block;
	margin-bottom: 5px;
	text-decoration: none;
	background-color:white;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	text-align: center;
}

.maakopdrachtbtn{
	float:left;
	color:#FF3399;
	font-weight:bold;
	cursor:pointer;
	display:block;
	margin-bottom: 5px;
	text-decoration: none;
	background-color:white;
	border-radius: 5px;
	height: 20px;
	width: 120px;
	text-align: center;
}

/* ####################### login en login form ######################### */
#logincontainer {
	position: absolute;
	float:left;
	background: url(../img/login_bg.jpg);
	margin-left: 775px;
	height: 150px;
	top: 30%;
	width: 145px;
	padding: 30px;
	border-radius: 5px;	
	}
#logincontainer label{
	margin-bottom: 5px;
	color:#FF3399;
	font-weight:bold;
	}

#logincontainer input{
	margin-top: 3px;
	}

#logincontainer a {
	cursor:pointer;
	}

#logincontainer a:hover {
	cursor:pointer;
	}

	
	
/* ##################################################################### */	

.prikbord container{
	background-image: url(../img/backgroundart.png);
	}
	
.prikbord{
	width:926px;
	height:522px;
	margin-right: -10px;
	background-image:url(../img/prikbord.png);
	background-size: contain;
	padding: 32px;
	}

body {
	background-image:url(../img/backgroundart.png), url(../img/plasterwall.png);
	background-repeat:no-repeat, repeat;
	background-position: 7px 5px;
	background-size: 550px 558px;
	}

.notitie{
	float:left;
	padding: 5px;
	width:121px;
	height:150px;
	display: block;
	background-image:url(../img/notitie.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 25px;
	margin-top: 25px;
	margin-right: 28px;
	z-index:10000;
	opacity: 1;
}


.notitie>p{
	margin-top:10px;
	width:inherit;
	float:left;
}

.notitie>h3{
	margin-top:15px;
	text-align:center;
	width:inherit;
	font-size:x-large;
	float:left;
}

h1 {
	margin-top: 20px;
	font-size: 52px;
	text-indent: -100000px;
	height: 52px;
	background-image:url(../img/groep2b.png);
	background-repeat: no-repeat;
	background-size: contain;
	}

.split{
	clear:both;
	}
	
.visible{
	display:block;
	}
	
.invisible{
	display:none;
	}
	
#visible{
	display:block;
	}
	
#invisible{
	display:none;
	}

input[type=text], input[type=password] {
	display: inline;
	margin: 0 0 1em 0;
	width: 140px;
	height: 15px;
	border: 1px solid black;
	margin-top: 5px;
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	margin-left: 20px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background: #287368;
	cursor: pointer;
}




/* Validation error messages */

.error {
	color: #393939;
	font-size: 15px;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

/* FOR FUN */



img {
	display: inline;
	margin-right: 15px;
}

form {
	margin-top: 5px;
	margin-left: 5px;
}

p.login_customFont {
	display: inline;
	font-family: cool_font;
	color: green;
	font-size: 12px;
}

#sluitLoginMenu {
	margin-left : -5px;
	height: 20px;
}

#lightBox {
	position: fixed;
	left: 0;
	top : 0;
	width: 100%;
	
	height:100%;
	opacity:0.4;
	background-color: black;
}

.noteTitle {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.noteTitle a{
	
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.notitie > a{
	text-decoration: none;
	color: black;
}

.noteWrapper{
	position: absolute;
}

#contextMenu{
	margin-left: 35%;
	width: 40px;
	height: 30px;
}

.contextMenu > a{
	text-decoration: none;
	margin-left: 50px;
	margin-top: 0px;
	background-color: grey;
	border: 1px solid white;
	color: white;
}

#homepage_outter { 
	position:relative; 
	width:100%; 
	height:100%;
}

#homepage_inner { 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:10; 
	width:100%; 
	height:100%;
}
#homepage_underlay { 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:9; 
	width:800px; 
	height:500px; 
	display:none;
}

